.DS_Store
Thumbs.db
desktop.ini
__pycache__

# binaries for model training state, not useful outside of Quest. Do not force commit
checkpoints/
# lots of plots, ~50MB in size, `git add -f <file>` if you want to add a specific plot
case_effective_patches/
# lots of plots, ~150MB in size, `git add -f <file>` if you want to add a specific plot
patch_attention/
# files of errors and training progress status (not important)
*.err